.elementor-14038 .elementor-element.elementor-element-7037ef4 .elementor-spacer-inner {height: 50px;}
.elementor-14038 .elementor-element.elementor-element-644ac73 {text-align: center;}
.elementor-14038 .elementor-element.elementor-element-644ac73 .elementor-heading-title {font-family: "Oswald",Sans-serif;font-size: 51px;font-weight: 600;}
.elementor-14038 .elementor-element.elementor-element-644ac73 > .elementor-widget-container {margin: 0px 0px 20px 0px;padding: 0px 0px 0px 0px;}
.elementor-14038 .elementor-element.elementor-element-40848de > .elementor-widget-container {background-color: #fff;}
@media (min-width:768px) {.elementor-14038 .elementor-element.elementor-element-c32bb55 {width: 22.893%;}
	.elementor-14038 .elementor-element.elementor-element-71fc20c {width: 67.999%;}
	.elementor-14038 .elementor-element.elementor-element-63bbd62 {width: 8.772%;}}